## Jupyter Demo

<div class="alert alert-block alert-info">notebook to demonstrate basic notebook functionality</div>

https://www.geeksforgeeks.org/markdown-cell-in-jupyter-notebook/

#### sub heading

> a bullet point

In [ ]:
!py -m pip install matplotlib

In [ ]:
print ('hello world')

In [ ]:
!py --version

In [ ]:
!py -m pip list

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

x = np.linspace(0, 10, 1000)
plt.plot(x, np.sin(x))

plt.show()

### ipython magic. 
ipython is descibed as a kernel and a shell. it originally served as a command shell for notebooks (were called ipython notebooks) it now provides a python kernel for notebooks - but note that other kernels can be used, either python kernels or for other languages.

https://ipython.org/

In [ ]:
%pwd

## Database stuff

> use sqlalchemy 1.4

#### Required packages

In [11]:
!py -m pip install sqlalchemy
!py -m pip install pyodbc

Requirement already satisfied: sqlalchemy in c:\users\p50096955\appdata\local\programs\python\python311\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\p50096955\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyodbc in c:\users\p50096955\appdata\local\programs\python\python311\lib\site-packages (4.0.35)

#### Create sqlalchemy engine 
> use https://docs.sqlalchemy.org/en/14/dialects/mssql.html#module-sqlalchemy.dialects.mssql.pyodbc

In [12]:
from sqlalchemy import create_engine

params =  'DRIVER={SQL Server};' \
          'SERVER=V-PW-DEVDB05.lab.stl.local\CRM2016;' \
          'DATABASE=POLCASE_MSCRM;' \
          'Trusted_Connection=yes;'

conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

#### connect and execute sql

In [13]:
sql_text = " SELECT TOP (1000) * FROM [POLCASE_MSCRM].[dbo].[stl_person] where stl_familyname like '%Smith%'"

conn = engine.connect()
result = conn.execute(sql_text)
for row in result:
    print(row)
    print(' ')
conn.close()

(None, None, None, None, None, 'POLCASE', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, None, None, None, None, None, None, None, None, None, '77EC2DB6-E617-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 25, 27), 'F95D380A-D817-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 27, 49), 'F95D380A-D817-ED11-8135-005056A255B2', None, None, '0D2EFC7D-B5ED-4038-AA8D-0C5FF608CDB5', 0, 1, b'\x00\x00\x00\x00\x00\x104v', None, None, None, None, 'Beat K2Q1 -  K2 Smithills North', None, None, None, None, None, None, None, 'K2Q1', None, None, None, None, None, 100002005, None, 100002003, None, 'Smithills North', None, None, 100002004, 'K2', None, None, None, None, None, False, None, None, None, 100005000, None, None, 100005503, None, None, None, None, None, False, None, None, None, None, None, None)

(None, None, None, None, None, 'POLCASE', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, None, None, None, None, None, None, None, None, None, '7BEC2DB6-E617-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 25, 27), 'F95D380A-D817-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 27, 49), 'F95D380A-D817-ED11-8135-005056A255B2', None, None, '0D2EFC7D-B5ED-4038-AA8D-0C5FF608CDB5', 0, 1, b'\x00\x00\x00\x00\x00\x104z', None, None, None, None, 'Beat K2Q2 -  K2 Smithills South', None, None, None, None, None, None, None, 'K2Q2', None, None, None, None, None, 100002005, None, 100002003, None, 'Smithills South', None, None, 100002004, 'K2', None, None, None, None, None, False, None, None, None, 100005000, None, None, 100005503, None, None, None, None, None, False, None, None, None, None, None, None)

(None, None, None, None, None, 'POLCASE', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, None, None, None, None, None, None, None, None, None, '67F833C2-E617-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 25, 42), 'F95D380A-D817-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 27, 56), 'F95D380A-D817-ED11-8135-005056A255B2', None, None, '0D2EFC7D-B5ED-4038-AA8D-0C5FF608CDB5', 0, 1, b'\x00\x00\x00\x00\x00\x105\xa5', None, None, None, None, 'Beat P2R6 -  P2 Smithybridge', None, None, None, None, None, None, None, 'P2R6', None, None, None, None, None, 100002005, None, 100002003, None, 'Smithybridge', None, None, 100002004, 'P2', None, None, None, None, None, False, None, None, None, 100005000, None, None, 100005503, None, None, None, None, None, False, None, None, None, None, None, None)

(None, None, None, None, None, 'POLCASE', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', None, None, None, None, None, None, None, 'Steve Smith AD', 'Steve Smith AD', None, '98498461-5AAD-46F1-962C-15A43DFF70E6', datetime.datetime(2022, 8, 9, 13, 2, 49), 'F95D380A-D817-ED11-8135-005056A255B2', datetime.datetime(2022, 8, 9, 13, 3, 9), 'F95D380A-D817-ED11-8135-005056A255B2', None, None, '0D2EFC7D-B5ED-4038-AA8D-0C5FF608CDB5', 0, 1, b'\x00\x00\x00\x00\x00\x0e\xa8x', None, None, None, None, 'Officer Officer Record: Smith AD', None, None, None, None, None, None, None, None, None, None, None, None, None, 100002005, None, 100002003, None, 'Smith AD', None, None, 100002004, 'Steve', None, None, None, None, None, False, None, None, None, 100005000, None, 'A6ABBB80-E317-ED11-8135-005056A255B2', 100005500, None, None, None, None, None, False, None, None, None, None, None, None)

(None, None, None, None, None, 'POLCASE', None, 'Kevin Griffiths', 'Kevin Griffiths', None, 'Kevin Griffiths', 'Kevin Griffiths', None, 'ETHCAPP-1', 'ETHCSACD-W1', 'GENDER-M', None, None, None, None, None, None, '7CCFDB29-7A78-4FCB-BC6E-80EF6FF2B8A1', datetime.datetime(2022, 12, 23, 9, 21, 57), '357F1A88-8663-ED11-813B-005056A255B2', datetime.datetime(2022, 12, 23, 15, 7, 13), '357F1A88-8663-ED11-813B-005056A255B2', None, None, '0D2EFC7D-B5ED-4038-AA8D-0C5FF608CDB5', 0, 1, b'\x00\x00\x00\x00\x00\x15>\xea', None, None, 0, 85, 'Person 23/12/2022 09:24:18SMITH', None, None, 1990, None, None, datetime.datetime(1990, 7, 14, 0, 0), None, None, None, None, datetime.datetime(2022, 12, 23, 9, 24, 18), None, '0D3F44BF-B941-E111-AD9F-005056AC006E', 100002005, 'CEBC5191-D7D3-E011-9C01-005056AC006E', 100002003, None, 'SMITH', None, '7A5C5746-2BF0-E011-A050-005056AC006E', 100002004, 'Fred', None, None, None, None, None, False, None, None, None, 100005000, None, None, 100005500, 'Bury St Edmunds', None, None, None, None, False, None, None, None, 'Mr', None, None)

C:\Users\p50096955\AppData\Local\Temp\ipykernel_24508\1443896992.py:4: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  result = conn.execute(sql_text)

#### use "with"

In [14]:
sql_text = " SELECT TOP (1000) * FROM [POLCASE_MSCRM].[dbo].[stl_case] where stl_OfficerInCaseName like '%Griffiths%'"
with engine.connect() as connection:
    result = connection.execute(sql_text)
    for row in result:
        print("stl_name:", row['stl_OfficerInCaseName'])
        print('')
        print(row)
        print('')

stl_name: Officer Officer Record: Griffiths

('Kevin Griffiths', 'Kevin Griffiths', None, 'Officer Officer Record: Griffiths', None, 'Officer Officer Record: Griffiths', 'Officer Officer Record: Griffiths', 'Officer Officer Record: Griffiths', 'Officer Officer Record: Griffiths', None, None, 'Arrival Detention Event 12345', None, None, None, 'Kevin Griffiths', 'Kevin Griffiths', None, 'Officer Officer Record: Griffiths', '357F1A88-8663-ED11-813B-005056A255B2', 'Kevin Griffiths', 'Kevin Griffiths', 0, 8, '357F1A88-8663-ED11-813B-005056A255B2', None, '650C4F92-C564-ED11-813C-005056A255B2', datetime.datetime(2022, 11, 15, 9, 12, 5), '357F1A88-8663-ED11-813B-005056A255B2', datetime.datetime(2022, 11, 15, 9, 12, 5), '357F1A88-8663-ED11-813B-005056A255B2', None, None, '563C380A-D817-ED11-8135-005056A255B2', 0, 1, b'\x00\x00\x00\x00\x00\x152\xa5', None, None, None, None, '12345', None, 100002024, None, None, None, 100002025, 'E51587E2-239D-4FE4-9D68-86E63B1D5737', 'E51587E2-239D-4FE4-9D68-86E63B1D5737', '6D3D5CD0-5FA2-4936-A3EE-643A335022F2', None, None, None, False, None, 'E51587E2-239D-4FE4-9D68-86E63B1D5737', 'E51587E2-239D-4FE4-9D68-86E63B1D5737', 'E51587E2-239D-4FE4-9D68-86E63B1D5737', 100002023, None, 'E51587E2-239D-4FE4-9D68-86E63B1D5737', False)

stl_name: Officer Officer Record: Griffiths

('Kevin Griffiths', 'Kevin Griffiths', None, None, None, None, None, 'City of Manchester Division', None, 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'lab\\PwDevCrmAdm lab\\PwDevCrmAdm', 'New Case Event 06/AA/00002/22', None, None, None, 'Kevin Griffiths', 'Kevin Griffiths', 'FILESTAT-PROC', 'Officer Officer Record: Griffiths', '357F1A88-8663-ED11-813B-005056A255B2', 'Kevin Griffiths', 'Kevin Griffiths', 0, 8, '357F1A88-8663-ED11-813B-005056A255B2', None, '4896CE82-1C5B-4873-8E3A-B2A889D6EF0E', datetime.datetime(2022, 12, 21, 16, 50, 3), '357F1A88-8663-ED11-813B-005056A255B2', datetime.datetime(2022, 12, 21, 16, 50, 7), '357F1A88-8663-ED11-813B-005056A255B2', 'F95D380A-D817-ED11-8135-005056A255B2', None, '563C380A-D817-ED11-8135-005056A255B2', 0, 1, b'\x00\x00\x00\x00\x00\x15=\xcc', None, None, None, None, '06/AA/00002/22', 'E29C16FD-6517-E111-B8A6-005056AC006E', 100002024, None, None, None, 100002025, None, '0DB6177C-D3D6-E811-80DF-005056A20A1F', '49C5AD83-10D1-4536-9C6E-503355F2ACEF', None, None, None, False, None, 'E51587E2-239D-4FE4-9D68-86E63B1D5737', None, None, 100002023, None, None, False)

stl_name: Officer Officer Record: Griffiths

('Kevin Griffiths', 'Kevin Griffiths', None, None, None, None, None, 'Airport Division', None, None, None, 'New Case Event 06/II/00001/22', None, None, None, 'Kevin Griffiths', 'Kevin Griffiths', 'FILESTAT-PROC', 'Officer Officer Record: Griffiths', '357F1A88-8663-ED11-813B-005056A255B2', 'Kevin Griffiths', 'Kevin Griffiths', 0, 8, '357F1A88-8663-ED11-813B-005056A255B2', None, '2AEE9E70-5943-41D2-BD8A-C7DDFEEB1BDC', datetime.datetime(2022, 12, 22, 9, 52, 6), '357F1A88-8663-ED11-813B-005056A255B2', datetime.datetime(2022, 12, 22, 9, 52, 7), '357F1A88-8663-ED11-813B-005056A255B2', None, None, '563C380A-D817-ED11-8135-005056A255B2', 0, 1, b'\x00\x00\x00\x00\x00\x15=\xea', None, None, None, None, '06/II/00001/22', 'E29C16FD-6517-E111-B8A6-005056AC006E', 100002024, None, None, None, 100002025, None, 'EAB5177C-D3D6-E811-80DF-005056A20A1F', '57D63BEC-FC64-4C72-9948-7D87B944EA70', None, None, None, False, None, 'E51587E2-239D-4FE4-9D68-86E63B1D5737', None, None, 100002023, None, None, False)

#### parameters

In [15]:

from sqlalchemy import text

sql_query = text("SELECT TOP (1000) stl_name, stl_FamilyName, stl_GivenName1 FROM [POLCASE_MSCRM].[dbo].[stl_person] where stl_FamilyName like :familyname and stl_name like :name")

with engine.connect() as connection:
    result = connection.execute(sql_query, familyname="%p%", name="%Person%")
    for row in result:
        print(row)

('Missing person management group', 'Missing person management group', None)
('Missing person SPOC group', 'Missing person SPOC group', None)
('NominalPerson: 100005500: 637974631144078903: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976489267719473: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976490344515988: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976493398304681: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976508772021102: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976511159460009: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637976516674262539: HOPE', 'HOPE', 'Noah')
('NominalPerson: 100005500: 637977236823672822: HOPE', 'HOPE', 'Summer')
('OrganisationPerson: 100005501: 637977238400460376: SummerHope Ltd', 'SummerHope Ltd', None)
('OrganisationPerson: 100005515: 636680496547239247: HMP Manchester', 'HMP Manchester', None)
('OrganisationPerson: 100005515: 636680502816096070: HMP Forest Bank', 'HMP Forest Bank', None)
('Person 01/09/2022 09:28:20SIMPSON', 'SIMPSON', 'Bart')
('Person 12/08/2022 15:58:13SIMPSON', 'SIMPSON', 'Homer')

#### use pandas

In [16]:
import pandas as pd

sql_query = "SELECT TOP (1000) * FROM [POLCASE_MSCRM].[dbo].[stl_person] where stl_familyname like '%Smith%'" 

with engine.connect() as conn, conn.begin():
    data = pd.read_sql_query(sql_query, conn)

data
    
#print (type(data))
#data 

#print(data.info())
#print (data.index)

,ModifiedOnBehalfByName,ModifiedOnBehalfByYomiName,CreatedOnBehalfByName,CreatedOnBehalfByYomiName,stl_AssistingOfficerIdName,OrganizationIdName,stl_BusinessUnitName,ModifiedByName,ModifiedByYomiName,stl_personsubtypeName,...,stl_PreferredLanguage,stl_Religion,stl_RequestedName,stl_SendToLibra,stl_Street,stl_Suffix,stl_Team,stl_title,stl_Town,stl_UserStatus
0,None,None,None,None,None,POLCASE,None,lab\PwDevCrmAdm lab\PwDevCrmAdm,lab\PwDevCrmAdm lab\PwDevCrmAdm,None,...,None,None,None,False,None,None,None,None,None,None
1,None,None,None,None,None,POLCASE,None,lab\PwDevCrmAdm lab\PwDevCrmAdm,lab\PwDevCrmAdm lab\PwDevCrmAdm,None,...,None,None,None,False,None,None,None,None,None,None
2,None,None,None,None,None,POLCASE,None,lab\PwDevCrmAdm lab\PwDevCrmAdm,lab\PwDevCrmAdm lab\PwDevCrmAdm,None,...,None,None,None,False,None,None,None,None,None,None
3,None,None,None,None,None,POLCASE,None,lab\PwDevCrmAdm lab\PwDevCrmAdm,lab\PwDevCrmAdm lab\PwDevCrmAdm,None,...,None,None,None,False,None,None,None,None,None,None
4,None,None,None,None,None,POLCASE,None,Kevin Griffiths,Kevin Griffiths,None,...,None,None,None,False,None,None,None,Mr,None,None

> pandas will by default only show the first 20 columns, and 60 rows. This can be changed:

In [18]:
import pandas as pd
#pd.get_option('display.max_columns')

pd.set_option('display.max_columns', 100)
pd.get_option('display.max_columns')

100

#### create a function

In [19]:

def runsql(sql_string):
    import urllib
    from sqlalchemy import create_engine
    import pandas as pd
    
    params =  'DRIVER={SQL Server};' \
          'SERVER=V-PW-DEVDB05.lab.stl.local\CRM2016;' \
          'DATABASE=POLCASE_MSCRM;' \
          'Trusted_Connection=yes;'

    params = urllib.parse.quote_plus(params)
    conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)

    engine = create_engine(conn_str)
    with engine.connect() as conn:
        df = pd.read_sql_query(sql_string, conn)
        
    #left_aligned_df = df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
    #return left_aligned_df
    return df

#### execute the function and use multiline string

In [20]:

paramtext = """SELECT TOP (1000) 
                stl_name, stl_FamilyName, stl_GivenName1 
                FROM [POLCASE_MSCRM].[dbo].[stl_person] 
                WHERE stl_familyname like '%Smith%'"""

runsql(paramtext)
#print (type(x))

                           stl_name   stl_FamilyName stl_GivenName1
0   Beat K2Q1 -  K2 Smithills North  Smithills North             K2
1   Beat K2Q2 -  K2 Smithills South  Smithills South             K2
2      Beat P2R6 -  P2 Smithybridge     Smithybridge             P2
3  Officer Officer Record: Smith AD         Smith AD          Steve
4   Person 23/12/2022 09:24:18SMITH            SMITH           Fred

## sql magic

> also uses sqlalchemy (but not comaptible with sqlalchemy 2)

https://github.com/catherinedevlin/ipython-sql

In [21]:
#!py -m pip install ipython-sql

%load_ext sql

In [22]:

#server = 'V-PW-DEVDB05.lab.stl.local\CRM2016'
server = 'V-PW-DEV08-DB01.lab.stl.local\PWDEV08'
database = 'POLCASE_MSCRM'
%sql mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D{server}%3BDATABASE%3D{database}%3BTrusted_Connection%3Dyes%3B

In [26]:

result = %sql SELECT top 10 stl_libraryvalueid, stl_name, stl_description, stl_value, statecode, statuscode FROM [PolCase_MSCRM].[dbo].[stl_libraryvalue] WHERE stl_identifier = '110002342'
 
result
print (type(result))

df = result.DataFrame()
df
print (type(df))

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DV-PW-DEV08-DB01.lab.stl.local%5CPWDEV08%3BDATABASE%3DPOLCASE_MSCRM%3BTrusted_Connection%3Dyes%3B
Done.
<class 'sql.run.ResultSet'>
<class 'pandas.core.frame.DataFrame'>

#### use cell magic

In [28]:
id = '110002342'

In [29]:
%%sql

 SELECT top 10 
        stl_libraryvalueid, stl_name, stl_description, stl_value, 
        statecode, statuscode 
  FROM [PolCase_MSCRM].[dbo].[stl_libraryvalue] 
  WHERE stl_identifier = :id

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DV-PW-DEV08-DB01.lab.stl.local%5CPWDEV08%3BDATABASE%3DPOLCASE_MSCRM%3BTrusted_Connection%3Dyes%3B
Done.

[('559FB922-606D-45B6-A2CF-001DCF011430', 'MO Sub-Category Brickwork - Attack Method Premises - Trademarks', 'Brickwork', 'Brickwork', 0, 1),
 ('7A5F7619-E708-4027-B9E9-003C440F9F32', 'MO Sub-Category Shutters - Attack Method Premises - Trademarks', 'Shutters', 'Shutters', 0, 1),
 ('4E2BB2A4-97AB-427C-AA17-003FB49222D8', 'MO Sub-Category Kiosk - Telephone - Location', 'Kiosk', 'Kiosk', 0, 1),
 ('5C189A1E-470B-48A1-A52F-0041C11782FE', 'MO Sub-Category Motor Cyclist - Cyclist - Victim', 'Motor Cyclist', 'Motor Cyclist', 0, 1),
 ('102FBCCB-3070-E611-80D3-005056A255B2', 'MO Sub-Category Animal - Accompanied By - Trademarks', 'Animal', 'Animal', 0, 1),
 ('0A9BE233-3170-E611-80D3-005056A255B2', 'MO Sub-Category Black - Accompanied By - Trademarks', 'Black', 'Black', 0, 1),
 ('89635495-3170-E611-80D3-005056A255B2', 'MO Sub-Category Child - Abandoned - Trademarks', 'Child', 'Child', 0, 1),
 ('55D5B5F1-3270-E611-80D3-005056A255B2', 'MO Sub-Category Conveyance - Abandoned - Trademarks', 'Conveyance', 'Conveyance', 0, 1),
 ('93451F4F-3370-E611-80D3-005056A255B2', 'MO Sub-Category Depot - Bus - Location', 'Depot', 'Depot', 0, 1),
 ('8D2F3D7B-3370-E611-80D3-005056A255B2', 'MO Sub-Category Station - Bus - Location', 'Station', 'Station', 0, 1)]

In [30]:

%%sql SELECT TOP (20) 
             [stl_ethnicappearance]
            ,[stl_ethnicappearancename]
        FROM [PolCase_MSCRM].[dbo].[stl_person] WITH(NOLOCK)
        WHERE [stl_ethnicappearance] IS NOT NULL;

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DV-PW-DEV08-DB01.lab.stl.local%5CPWDEV08%3BDATABASE%3DPOLCASE_MSCRM%3BTrusted_Connection%3Dyes%3B
Done.

[('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1'),
 ('0D3F44BF-B941-E111-AD9F-005056AC006E', 'ETHCAPP-1')]

> pipe to a variable

In [31]:
%%sql result <<

 SELECT top 10 
        stl_libraryvalueid, stl_name, stl_description, stl_value, 
        statecode, statuscode 
  FROM [PolCase_MSCRM].[dbo].[stl_libraryvalue] 
  WHERE stl_identifier = :id

 * mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DV-PW-DEV08-DB01.lab.stl.local%5CPWDEV08%3BDATABASE%3DPOLCASE_MSCRM%3BTrusted_Connection%3Dyes%3B
Done.
Returning data to local variable result

In [32]:
result
#print (type(result))
#df = result.DataFrame()
#df

[('559FB922-606D-45B6-A2CF-001DCF011430', 'MO Sub-Category Brickwork - Attack Method Premises - Trademarks', 'Brickwork', 'Brickwork', 0, 1),
 ('7A5F7619-E708-4027-B9E9-003C440F9F32', 'MO Sub-Category Shutters - Attack Method Premises - Trademarks', 'Shutters', 'Shutters', 0, 1),
 ('4E2BB2A4-97AB-427C-AA17-003FB49222D8', 'MO Sub-Category Kiosk - Telephone - Location', 'Kiosk', 'Kiosk', 0, 1),
 ('5C189A1E-470B-48A1-A52F-0041C11782FE', 'MO Sub-Category Motor Cyclist - Cyclist - Victim', 'Motor Cyclist', 'Motor Cyclist', 0, 1),
 ('102FBCCB-3070-E611-80D3-005056A255B2', 'MO Sub-Category Animal - Accompanied By - Trademarks', 'Animal', 'Animal', 0, 1),
 ('0A9BE233-3170-E611-80D3-005056A255B2', 'MO Sub-Category Black - Accompanied By - Trademarks', 'Black', 'Black', 0, 1),
 ('89635495-3170-E611-80D3-005056A255B2', 'MO Sub-Category Child - Abandoned - Trademarks', 'Child', 'Child', 0, 1),
 ('55D5B5F1-3270-E611-80D3-005056A255B2', 'MO Sub-Category Conveyance - Abandoned - Trademarks', 'Conveyance', 'Conveyance', 0, 1),
 ('93451F4F-3370-E611-80D3-005056A255B2', 'MO Sub-Category Depot - Bus - Location', 'Depot', 'Depot', 0, 1),
 ('8D2F3D7B-3370-E611-80D3-005056A255B2', 'MO Sub-Category Station - Bus - Location', 'Station', 'Station', 0, 1)]